.container {
  display: 'flex';
  max-width: 720px;
  padding: 10px;
  margin-top: 125px;

  @media screen and (max-width: 360px) {
    width: 320px;
    margin-top: 50px;
    padding: 20px;
  }

  @media screen and (max-width: 720px) {
    width: 360px;
    margin-top: 50px;
  }
}

.metadata {
  margin-bottom: 75px;
}
