.container {
  display: 'flex';
  max-width: 720px;
  padding: 10px;
  margin-top: 175px;

  @media screen and (max-width: 360px) {
    width: 320px;
    margin-top: 50px;
    padding: 20px;
  }

  @media screen and (max-width: 720px) {
    width: 360px;
    margin-top: 50px;
  }
}

a {
  text-decoration: none;
  color: #227bb9;
}

a:hover {
  color: #1c6497;
}

.contact-me {
  margin-top: 50px;
}
