.info {
  display: flex;
  flex-direction: column;
  width: 470px;
  margin-top: 175px;
}

.icons {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  margin-top: 75px;
}
