.info {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  margin-top: 175px;
  padding: 10px;

  @media screen and (max-width: 360) {
    width: 320px;
  }
}

.icons {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  margin-top: 75px;
}
