@use '../globals';

.header {
  display: flex;
  width: 920px;
  height: 50px;
  padding-top: 20px;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 360px) {
    width: 360px;
  }

  @media screen and (max-width: 720px) {
    width: 360px;
  }
}

.nav-elements {
  text-decoration: none;
  color: globals.$primary-text-color;
}
